.login_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
  }
  
  .login_wrapper {
    width: 350px;
    height: 778px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 348px;
    background-color: #FFFFFF;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 1px;
    margin: 0 0 10px;
  }
  
  .logo {
    width: 175px;
    height: 51px;
    margin: 22px 86.5px 12px;
  }
  
  .login_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 0px 8px;
  
    input {
      width: 258px;
      height: 36px;
      margin-bottom: 6px;
      padding: 0 10px;
      color: rgba(var(--i1d, 38, 38, 38), 1);
      background-color: rgba(var(--b3f, 250, 250, 250), 1);
      border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
      border-radius: 3px;
      font-size: 12px;
  
      &:focus {
        outline: none;
        box-shadow: box-shadow 0 0 3px 2px gray;
      }
    }
  }
  
  .login_btn {
    margin: 8px 40px;
    width: 268px;
    height: 30px;
    background-color: #0095F6;
    color: white;
    font-weight: bold;
  }
  
  .divide {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 10px 0 0;
  }
  
  .empty {
    width: 80px;
    height: 1px;
    border-top: 1px solid #aaa;
    margin: 0 20px;
  }
  
  .divide span {
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
  }
  
  .alt_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  
    span {
      margin: 12px 0 0;
      font-size: 12px;
      color: #4267B2;
    }
  }
  
  .fb {
    width: 268px;
    height: 20px;
  }
  
  .fb_icon {
    width: 16px;
    height: 16px;
    color: #4267B2;
    font-weight: bold;
  }
  
  .sign_in {
    margin: 0 0 10px;
    width: 350px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 14px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 1px;
  }
  
  .sign_in span {
    padding: 0 5px;
    color: #0095F6;
    font-weight: bold;
  }
  
  .download_app {
    position: absolute;
    bottom: 50px;
    text-align: center;
  
    p {
      padding: 15px;
      display: block;
    }
  
    button img {
      width: 136px;
      height: 40px;
    }
  }
  
  footer {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    height: 104px;
    width: 100%;
  }
  
  .lnb {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      vertical-align: text-top;
      font-family: monospace;
  
      li {
        font-family: monospace;
        font-size: 12px;
        font-weight: bold;
        color: #4267B2;
        margin: 0 3px;
        padding: 3px;
      }
    }
  }
  
  footer .copyrights {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #aaa;
  }
  
  button {
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
  
    &:focus {
      outline: none;
    }
  }